<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="AngularApp">
       
    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/AngularApp.js"></script>
    <script src="~/Scripts/Routing.js"></script>
    <script src="~/Scripts/UserController/LoginAngularController.js"></script>
    <script src="~/Scripts/ProductController/ProductAngularController.js"></script>
    <script src="~/Scripts/ProductController/PSearchAngullarController.js"></script>
    <script src="~/Scripts/ProductController/ProdCatAngularController.js"></script>
    <script src="~/Scripts/CategoryController/CategoryAngularController.js"></script>
</body>
</html>
